mixin sectionSeparator()
	.row
		.col-md-12.dkb-section-separator


.container

	.row
		h4 What is this?
		p.
			Deckboard is a dynamic, configurable and expansible digital signage solution running on nodejs, capable of displaying different page subsets across multiple rooms and views/screens (i.e. context specific page lists, sincronized across all viewers).
		p
			a(href="https://bitbucket.org/ricardosousa/deckboard/src").btn.btn-xs.btn-default view source code


	+sectionSeparator()



	.row
		h4 Content structure
		p
			span Deckboard is organized according to the following structure (bottom-up):
			dl.dl-horizontal
				dt Page
				dd Contains details on a page that should be shown (when active) for a specified duration
				dt View
				dd Group of pages that should be cycled when displaying the Deckboard for this view
				dt Room
				dd Set of views that relate to each other (in a business/context specific way)
				dt (the) Deckboard
				dd Set of configured rooms


	+sectionSeparator()

	.row
		h4 Installation
		p
			span
				strong Requirements:
				span  <a href="http://nodejs.org/">NodeJS</a> platform installed
			br
			span
				strong Step one:
				span  navigate to the destination folder and 
				code git clone git@bitbucket.org:ricardosousa/deckboard.git
			br
			span
				strong Step two:
				span  install Deckboard Node.js module dependencies (expressjs, jade, nosql and related dependencies) with 
				code npm install
			br
			span
				strong Step three:
				span  start Deckboard Node.js server with 
				code node deckboard.js
			br
			span
				strong Step four (optional):
				span  access Deckboard settings page at 
				code http://&lt;host&gt;:7474/settings
				span  and override the default configuration at will
			br
			


	+sectionSeparator()

	.row
		h4 Configuration
		p
			span To configure the displayed pages and their respective groupings (i.e. Deckboard views and groups), navigate to the <a href="/config">Pages</a> menu.
			br
			span Generic configurations such as the server port (defaults to <code>7474</code>), the minimum refresh interval when building deckboard displays (defaults to <code>2 seconds</code>), the default preload time (defaults to <code>5000 ms</code>) and the default page duration for a new page entry (defaults to <code>5000 ms</code>), can be configured on the <a href="/settings">Settings</a> menu.



	+sectionSeparator()


	.row
		h4 Contact and Support
		p.
			Deckboard's source code is hosted on <a href="http://www.bitbucket.org">BitBucket</a> at <a href="https://bitbucket.org/ricardosousa/deckboard/">https://bitbucket.org/ricardosousa/deckboard/</a> and maintained by <a href="http://ricardo.maiasousa.com">Ricardo Sousa</a>.
			<br>
			If you want to submit an issue, please <a href="https://bitbucket.org/ricardosousa/deckboard/issues/new">use this page</a>. Otherwise, to contact the creator of Deckboard directly, please see <a href="http://ricardo.maiasousa.com/#contact">this contact page</a> or send an email to <strong><code>ricardo</code></strong><span><code>[at]</code></span><strong><code>maiasousa</code></strong><span><code>[dot]</code></span><strong><code>com</code></strong>.


	+sectionSeparator()


	.row
		h4 License
		.pull-right
			a(href="http://www.gnu.org/licenses/agpl.html")
				img(src='/static/img/agplv3.png')
		p.
			This open source software is licensed under the <a href="http://www.gnu.org/licenses/agpl.txt">Affero General Public License version 3.0</a>.
		p.
			For commercial purposes, please contact via e-mail (see the <a href="#contact">contact section</a> above for more details).
		p
			a(href="/static/LICENSE.txt").btn.btn-xs.btn-default show license
		.clearfix


