mixin popupAdd(pTitle, pField, pFunction, pNext)
	div(tabindex="-1",role="dialog",aria-hidden="true")#showAddWindow.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					a(data-dismiss="modal",aria-hidden="true").close &times;
					h4.modal-title= pTitle
				.modal-body
					form(onsubmit="return false;").form-horizontal
						.form-group
								label(for="newEntry").col-lg-4.control-label= pField
								.col-lg-8
									input(type="text",placeholder="#{pField}")#newEntry.form-control
				.modal-footer
					a(data-dismiss="modal").btn.btn-default Cancel
					a(href="#AddEntry",onclick="#{pFunction}").btn.btn-primary= pNext



div: ol.breadcrumb
	li: a(href="/config") Deckboard
	each entry,j in configPath
		if j>0 && j == configPath.length-1
			li.active #{entry.title}
		else
			li: a(href="#{entry.path}") #{entry.title}
#pages-container.row





	//- chosen view implies that room and view are selected
	if chosenView
		div(class=chosenPage?"pages col-md-4 row":"pages col-md-8 col-md-offset-2 row")
			#timeline.col-md-1.hidden-sm.hidden-xs
				script(type='text/javascript').

					var drawTimeline = function(){
						var $target = $(".pages div").first();
						var $list = $target.next().children();
						var h = $list.height();
						$target.height(h);
						var bkgLine = '<div class="dkb-timeline-line"></div>';
						$target.append(bkgLine);
						$(".dkb-timeline-line").height(h);	
						var epsLine = '<div id="timelineellasped" class="dkb-timeline-line dkb-timeline-ellapsed"></div>';
						$target.append(epsLine);

						updateTimeline();
					}

					var updateTimeline = function(){
						

						var $target = $("#timeline");


						if($target.is(':visible') == false){
							// timeline not visible
							$(".dkb-timeline-point").remove();
							$(".dkb-timeline-line").fadeOut('fast');
							return;
						}//else continue

						

						
						var rowH = $target.next().find(".list-group-item").first().outerHeight();
						$.getJSON('/r/#{chosenRoom}/v/#{chosenView}/t').done(function(data){
							
							if(data.count>0){
								$(".dkb-timeline-line").fadeIn(2000);
								// update timeline bar
								var space = rowH*data.count||0; //total space for bar
								var h = $(".dkb-timeline-point").first().outerHeight() || 12; //12 = base/default point size
								var m = (rowH-h)/2; //dot margin

								var e = data.ellapsed/data.step; //relative size for ellapsed time
								var th = data.page*rowH+e*rowH+m+h/2;

								if(th>space) th -=space;
								$("#timelineellasped").height(th);

								// update dots
								var toAdd = '';
								data.statuses.forEach(
									function(s,i){
										toAdd+='<div class="dkb-timeline-point';
										if(!s)toAdd+=' dkb-timeline-disabled';
										if(i<=data.page) toAdd+=' dkb-timeline-ellapsed';
										toAdd+='"></div>';
									}
								);
								$(".dkb-timeline-point").remove();
								$target.append(toAdd);
								
								$(".dkb-timeline-point").each(function(i){
									var pp = rowH*i+m;
									$(this).css({'top':pp});
									if(pp<=th-h/2) $(this).addClass('dkb-timeline-ellapsed'); //add ellapsed class for disabled pages when the bar is under it
								});

							}else{
								$(".dkb-timeline-line").fadeOut(2000);
							}
							


						}).fail(function(){
							//could not load request
							$(".dkb-timeline-point").fadeOut('slow');
							$(".dkb-timeline-line").fadeOut('slow');
						});

						

					}

					$(function(){
						drawTimeline();
						setInterval(updateTimeline,2000);
					});

			.col-md-11
				.list-group.dkb-pages-list.sortable
					if viewPages && viewPages.length>0
						each dPage, j in viewPages
							a(href="/config/#{chosenRoom}/#{chosenView}/#{dPage.title}", class= chosenPage=="#{dPage.title}"?"list-group-item active":"list-group-item")
								if dPage.active
									strong.list-group-item-heading.dkb-ellipsis #{dPage.title}
								else
									del.list-group-item-heading.dkb-ellipsis.muted #{dPage.title}
								
								//- round page duration
								dDuration = dPage.duration
								dDUnit = "ms"
								if dDuration >= 1000
									dDuration = Math.ceil(dDuration/1000)
									dDUnit = "sec"
									if dDuration >= 60
										dDuration = Math.ceil(dDuration/60)
										dDUnit = "min"
										if dDuration >= 60
											dDuration = Math.ceil(dDuration/60)
											dDUnit = dDuration==1?"hour":"hours"
											if dDuration >= 24
												dDuration = Math.ceil(dDuration/24)
												dDUnit = dDuration==1?"day":"days"

								span(class= dPage.active?"dkb-badge-active":"").badge.pull-right ± #{dDuration} #{dDUnit}
								p.muted.list-group-item-text.dkb-ellipsis.hidden-xs #{dPage.url}
					else
						span.list-group-item.text-center.text-muted No pages in current view
			.text-center.row
				a(href="/view/#{chosenRoom}/#{chosenView}",target="_blank").btn.btn-xs
					i.glyphicon.glyphicon-eye-open
					span  show deckboard
				a(data-toggle="tooltip", title="To rearrange this view pages, just drag and drop a page entry to a new position in the list").btn.btn-xs
					i.glyphicon.glyphicon-sort
					span  sort
				a(data-toggle="modal" href="#showAddWindow").btn.btn-xs
					i.glyphicon.glyphicon-plus
					span  add page
				hr

		if chosenPage
			#page-settings.col-md-8
				.panel.panel-default
					.panel-body
						form(role="form",method="post",action="/config/#{chosenRoom}/#{chosenView}/#{chosenPage}/DELETE",style="display:none")#deletePageForm
						form(role="form",method="post")#configPageForm.form-horizontal
							.form-group
								label(for="titleInput").col-lg-2.control-label Title
								.col-lg-10
									input(type="text",name="titleInput",placeholder="Page title",value=chosenPage?"#{chosenPage}":"")#titleInput.form-control
									span.help-block.hidden-sm.hidden-xs The page description, used for configuration only
							.form-group
								label(for="urlInput").col-lg-2.control-label Page URL
								.col-lg-10
									input(type="url",name="urlInput",placeholder="http://...",value=chosenUrl?"#{chosenUrl}":"")#urlInput.form-control
									span.help-block.hidden-sm.hidden-xs URL pointing to the resource (i.e. web page, remote image)
							.form-group
								label(for="durationInput").col-lg-2.control-label Duration
								.col-lg-10
									.input-group
										input(type="number",name="durationInput",placeholder="ms",value=chosenDuration?"#{chosenDuration}":"",min="1000",max="315569259747")#durationInput.form-control
										.input-group-btn
											button(type="button", data-toggle="dropdown").btn.btn-default.dropdown-toggle: span.caret
											ul.dropdown-menu.pull-right
												li: a(href="#30sec",onclick="setDuration(30000);return false") 30 seconds
												li: a(href="#2min",onclick="setDuration(120000);return false") 2 minutes
												li: a(href="#5min",onclick="setDuration(300000);return false") 5 minutes
												li: a(href="#10min",onclick="setDuration(600000);return false") 10 minutes
												li: a(href="#30min",onclick="setDuration(1800000);return false") 30 minutes
									span.help-block.hidden-sm.hidden-xs The amount of time this page should be displayed, in milliseconds
							.form-group
								label(for="preloadInput").col-lg-2.control-label Preload time
								.col-lg-10
									.input-group
										input(type="number",name="preloadInput",placeholder="ms",value=chosenPreload?"#{chosenPreload}":"",min="1000",max="315569259747")#preloadInput.form-control
										.input-group-btn
											button(type="button", data-toggle="dropdown").btn.btn-default.dropdown-toggle: span.caret
											ul.dropdown-menu.pull-right
												li: a(href="#5sec",onclick="setPreload(5000);return false") 5 seconds
												li: a(href="#15sec",onclick="setPreload(15000);return false") 15 seconds
												li: a(href="#30sec",onclick="setPreload(30000);return false") 30 seconds
												li: a(href="#1min",onclick="setPreload(60000);return false") 1 minute
												li: a(href="#2min",onclick="setPreload(120000);return false") 2 minutes
									span.help-block.hidden-sm.hidden-xs The amount of time to wait before displaying this page (when supported), in milliseconds
							.form-group
								.col-lg-offset-2.col-lg-10
									label.checkbox-inline
										input(type="checkbox",name="activeInput", checked=(chosenActive? "checked": undefined))#activeInput
										span Active
									span.help-block.hidden-sm.hidden-xs To temporarily skip this page, disable this checkbox
					.panel-footer
						a(href="#preview",onclick='previewPage();return false').btn.btn-info
							i.glyphicon.glyphicon-picture
							span  preview
						&nbsp;
						a(href="#save",onclick='saveChanges();return false').btn.btn-success
							i.glyphicon.glyphicon-floppy-save
							span  save
						&nbsp;
						if creatingPage
							a(href='/config/#{chosenRoom}/#{chosenView}').btn.btn-default
								i.glyphicon.glyphicon-floppy-remove
								span  cancel
						else
							a(href="#delete",onclick='$("#deletePageForm").submit();return false').btn.btn-danger
								i.glyphicon.glyphicon-floppy-remove
								span  delete

		+popupAdd("Create page", "Page title", "addPage()","Next")
		script(type='text/javascript').
			var saveChanges = function(){
				try{
					if($("#configPageForm input").filter(function () {
						return $.trim($(this).val()).length <= 0
					}).length > 0) {
						alert("All fields must be filled");
					}else if(parseInt($("#durationInput").val(),10) <= parseInt($("#preloadInput").val(),10)){
						alert("The page display duration must be greater than its preload time");
					}else{
						$("#configPageForm").submit();
					}
				}catch(error){
					alert("Could not validate page fields");
					console.log("error validating page fields -- "+JSON.stringify(error));
				}

			}
			var setDuration = function(duration){
				$("#durationInput").val(duration);
			}
			var setPreload = function(duration){
				$("#preloadInput").val(duration);
			}
			var addPage = function(){

				
				var confirmed = true;
				if('#{creatingPage}'=='true'){
					confirmed=confirm('There are unsaved changes; if you continue the page "'+$("#titleInput").val()+'" for view "#{chosenView}" on room "#{chosenRoom}" will be discarded.\nDo you want to proceed?');
				}
				if(confirmed){
					document.location.href='/config/#{chosenRoom}/#{chosenView}/'+$("#newEntry").val();
				}
			}

			$("form input").keypress(function(event) {
				if (event.which == 13) {
				event.preventDefault();
				addPage();
				}
			});


			$(".dkb-pages-list.sortable").sortable().bind('sortupdate', function() {
				
				var entries = $(".dkb-pages-list.sortable a");
				if(entries.length>0){
					var sortedEntries = new Array();
					entries.each(function(i,entry){
						sortedEntries.push($(entry).children(':first').text()); //-':
					});

					$.ajax({
						type: 'POST',
						url: '/sort/#{chosenRoom}/#{chosenView}',
						data: JSON.stringify (sortedEntries),
						success: function(data) { console.log('data: ' + data); },
						error: function(err){alert(err.responseText)},
						contentType: "application/json",
						dataType: 'json'
					});




				}
			});
			var previewPage = function(){
				window.open($("#urlInput").val(),"_blank");
			}
			$('[data-toggle="tooltip"]').tooltip();
			
						
						







	//- no chosen view but chosen room -> list views
	else if chosenRoom
		#pages.col-md-8.col-md-offset-2
			.list-group.dkb-pages-list
				if roomViews && roomViews.length>0
					each dView, j in roomViews
						a(href="/config/#{chosenRoom}/#{dView.title}").list-group-item
							strong.list-group-item-heading.dkb-ellipsis #{dView.title}
							span(data-dropdown="dropdown",data-target="#{chosenRoom}/#{dView.title}").pull-right.btn.btn-xs.btn-default
								span.glyphicon.glyphicon-cog
								span  
								span.caret
				else
					span.list-group-item.text-center.text-muted No views in current room
			.text-center.row
				a(data-toggle="modal" href="#showAddWindow").btn.btn-xs
					i.glyphicon.glyphicon-plus
					span  add view
				hr
		+popupAdd("Create view", "View name", "addView()","Add")
		script(type='text/javascript').
			var addView = function(){
				$.post(
						'/config/#{chosenRoom}/'+$("#newEntry").val(),
						function(){
							$(".modal").modal('hide');
							//alert('View created');
							location.reload(true);
						}
					).fail(function(err){
						alert(err.responseText);
					});
			}

			$("form input").keypress(function(event) {
				if (event.which == 13) {
				event.preventDefault();
				addView();
				}
			});


			var deleteEntry = function(entry){
				var ok = confirm('Delete "'+entry+'"?');
				if(ok){
					$.ajax({
						url: '/config/'+entry,
						type: 'DELETE',
						success: function(result) {
							location.reload(true);
						},
						error:function(){
							alert('Could not remove entry, please try again later');
						}
					});
				}
			}

			$(function(){
				$("[data-dropdown='dropdown']").each(function(){
					var $btn = $(this);
					var pos = $btn.offset();
					pos.top+= $btn.outerHeight();
					var action = $btn.attr('data-target');

					$btn.click(function(){
						
						$("#dkboptdrop").remove();
						var dd = '<div id="dkboptdrop" class="btn-group-vertical" href="#" style="position:absolute;top:'+pos.top+'px;left:'+pos.left+'px;">'+
									'<a href="/config/'+action+'" class="btn btn-default">List pages</a>'+
									'<a href="#deleteEntry" onclick="deleteEntry(\''+action+'\');return false" class="btn btn-default">Delete view</a>'+
									//'<a href="#" class="btn btn-default btn-disabled">Shuffle pages</a>'+
								'</div>';

						$('body').append(dd);
						$('body').click(function() { $("#dkboptdrop").remove() });

						return false;
					});
				});
			});






	//- no chosen room -> list rooms
	else
		#pages.col-md-8.col-md-offset-2
			.list-group.dkb-pages-list
				if deckRooms && deckRooms.length>0
					each dRoom, j in deckRooms
						a(href="/config/#{dRoom.title}").list-group-item
							strong.list-group-item-heading.dkb-ellipsis #{dRoom.title}
							span(data-dropdown="dropdown",data-target="#{dRoom.title}").pull-right.btn.btn-xs.btn-default
								span.glyphicon.glyphicon-cog
								span  
								span.caret
				else
					span.list-group-item.text-center.text-muted No rooms configured yet
			.text-center.row
				a(data-toggle="modal" href="#showAddWindow").btn.btn-xs
					i.glyphicon.glyphicon-plus
					span  add room
				hr
		+popupAdd("Create room", "Room name", "addRoom()","Continue")
		script(type='text/javascript').
			var addRoom = function(){
				$.post(
						'/config/'+$("#newEntry").val(),
						function(){
							$(".modal").modal('hide');
							//alert('Room added');
							location.reload(true);
						}
					).fail(function(err){
						alert(err.responseText);
					});
			}

			$("form input").keypress(function(event) {
				if (event.which == 13) {
				event.preventDefault();
				addRoom();
				}
			});

			var deleteEntry = function(entry){
				var ok = confirm('Delete "'+entry+'"?');
				if(ok){
					$.ajax({
						url: '/config/'+entry,
						type: 'DELETE',
						success: function(result) {
							location.reload(true);
						},
						error:function(){
							alert('Could not remove entry, please try again later');
						}
					});
				}
			}

			$(function(){
				$("[data-dropdown='dropdown']").each(function(){
					var $btn = $(this);
					var pos = $btn.offset();
					pos.top+= $btn.outerHeight();
					var action = $btn.attr('data-target');

					$btn.click(function(){
						
						$("#dkboptdrop").remove();
						var dd = '<div id="dkboptdrop" class="btn-group-vertical" href="#" style="position:absolute;top:'+pos.top+'px;left:'+pos.left+'px;">'+
									'<a href="/config/'+action+'" class="btn btn-default">List views</a>'+
									'<a href="#deleteEntry" onclick="deleteEntry(\''+action+'\');return false" class="btn btn-default">Delete room</a>'+
								'</div>';

						$('body').append(dd);
						$('body').click(function() { $("#dkboptdrop").remove() });

						return false;
					});
				});
			});


