!!! 5
html

	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		script(src="/static/js/jquery-1.10.2.min.js").
		style.
			#deckloader{
				width: 100%;
				transition: width 1s;
				-webkit-transition: width 1s;
				height: 3px;
				box-shadow: 0 0 10px -1px white;
				background: #6F9;
				opacity: 0.9;
				position: absolute;
				z-index: 100;
				margin:0;
				float: left;

			}
			body,html{
				padding: 0;
				width: 100%;
				height: 100%;
				margin: 0;
			}
			iframe{
				margin:0;
				border:0;
				width:100%;
				height:100%;
				position: absolute;
			}


		script.


			$(function(){
					
				var room="#{room}";
				var view="#{view}";

				var requrl="/r/"+room+"/v/"+view+"/w";

				var minPreload = 500;

				var unknownPreload = 1000;

				var switchFadeDuration = 3000;


				/*
				*
				*	Build XMLHttpRequest:
				*		Add event listener for page loading progress updates
				*
				*/
				var buildXHRWithProgress = function(){
					var xhr = new window.XMLHttpRequest();
					xhr.addEventListener("progress", function(evt){
						if (evt.lengthComputable) {  
							var percentComplete = evt.loaded / evt.total*100;
							$("#deckloader").css("width",''+Math.round(percentComplete)+'%')
						}
					}, false); 
					return xhr;
				}


				/*
				*
				*	Switch iframe pages:
				*    Puts the next page (just loaded) on the top, fades it in and switches ids for the next swap.
				*
				*/
				var switchPages = function(){
					var $updated=$("#nextpage");
					var $old=$("#deckpage");
					//switch ids
					$old.attr('id','oldpage');
					$updated.attr('id','deckpage');
					$old.attr('id','nextpage');

					$updated.fadeTo(0,0);
					$updated.css('z-index',20);
					$old.css('z-index',10);
					$updated.fadeTo(switchFadeDuration,1,function(){
						$old.attr('src','about:blank').fadeTo(0,0).css('z-index',0);//-'
					});
				}


				/*
				*
				*	Update the displayed page:
				*		Ask the deckboard service which page should be displayed, switches pages and schedules the next update
				*
				*/
				var updatePage=function(firstpage){
		

					$("#deckloader").stop(true).fadeIn(250);
					$.ajax({
						url: requrl,
						dataType: "json",
						xhr: buildXHRWithProgress,
						success: function(data){
							$("#deckloader").fadeOut(1000,function(){$("#deckloader").css("width","0%")});
							var srcpage = data.page.url;
							var nextupdate = data.timeout;
							
							if(firstpage===true){
								$("#deckpage").attr("src",srcpage).css('z-index',20);
							}else{
								$("#nextpage").attr("src",srcpage);	

								var preload = Math.max( minPreload, (typeof data.page.preload != 'undefined') ? data.page.preload : unknownPreload );	
								var showdelay = Math.min(nextupdate,switchFadeDuration + preload) - switchFadeDuration;
								if(showdelay>0){ //we have time to switch pages
									setTimeout(switchPages,showdelay);
								}else{//no time left, update nextupdate and switch now
									nextupdate+=showdelay + minPreload;
									switchPages();
								}
							}
							setTimeout(updatePage,nextupdate);
						}
					});


				}


				//	Start updating pages -------------------------------------

				updatePage(true);
			});


	body.

	//- Page loader
	#deckloader

	//- Imported page content
	iframe(src="about:blank")#deckpage
	iframe(src="about:blank")#nextpage
