!!! 5
html

	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="/static/css/bootstrap.min.css", rel="stylesheet", media="screen")
		link(href="/static/css/deckboard.css", rel="stylesheet")
		script(src="/static/js/jquery-1.10.2.min.js").
		script(src="/static/js/bootstrap.min.js").
		script(src="/static/js/jquery.sortable.min.js").


	body
		#pagewrap
			.navbar.navbar-default.navbar-fixed-top
				.container
					.navbar-header
						button(type="button", data-toggle="collapse", data-target=".navbar-collapse", class="navbar-toggle collapsed")
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a(href="/").navbar-brand Deckboard
					div.navbar-collapse.collapse(style="height:1px")
						ul.nav.navbar-nav
							each entry,j in menu
								li(class= currentPage === entry.path ? "active" : "")
									a(href="#{entry.path}")
										i(class="glyphicon glyphicon-#{entry.icon}")
										span  #{entry.title}
						
			.container
				#deckloader
				if pageTitle !== undefined
					h2.page-header= pageTitle		
				div!= pageContent
					

		#footer
			.container
				p.text-muted.credit
					span Deckboard v0.3, by 
					a(href="http://ricardo.maiasousa.com") Ricardo Sousa
					small.dkb-with-parent-hover.dkb-on-background.hidden-sm.hidden-xs.pull-right Server start: #{serverStart}


