mixin formEntry(title,target,description,defaultValue)
	.form-group
		label(for="#{target}").col-lg-2.control-label= title
		.col-lg-10
			.input-group
				if defaultValue
					span.input-group-btn
						a(data-toggle="tooltip", title="Reset to default value (#{defaultValue})",onclick='resetValue("#{target}","#{defaultValue}");return false').btn.btn-warning
							i.glyphicon.glyphicon-asterisk
				if block
					block
				else
					input(type="text",name="#{target}",disabled="disabled").form-control
				span.input-group-btn
					a(data-action="edit-input", data-toggle="tooltip", title="Edit value").btn.btn-primary
						i.glyphicon.glyphicon-edit
			span.help-block.hidden-sm.hidden-xs #{description}



//- begin

.container

	.row
		
		.panel.panel-default
			.panel-body

				form(role="form",method="post")#deckSettingsForm.form-horizontal
							
							+formEntry("Server Port","serverPort","The server port used for the Deckboard service (restart required)",defconfig.serverPort)
								input(type="number",name="serverPort",placeholder="0000",value="#{config.serverPort}",min="1",max="65535",disabled="disabled")#serverPort.form-control
							+formEntry("Default page duration","defaultPageDuration","Default duration (in milliseconds) for new view pages",defconfig.defaultPageDuration)
								input(type="number",name="defaultPageDuration",placeholder="(milliseconds)",value="#{config.defaultPageDuration}",min="1000",max="315569259747",disabled="disabled")#defaultPageDuration.form-control
							+formEntry("Default page preload","defaultPagePreload","Default preload time (in milliseconds) for new view pages, when supported",defconfig.defaultPagePreload)
								input(type="number",name="defaultPagePreload",placeholder="(milliseconds)",value="#{config.defaultPagePreload}",min="1000",max="315569259747",disabled="disabled")#defaultPagePreload.form-control
							+formEntry("Minimum refresh interval","minimumRefreshInterval","Minimum refresh interval in seconds for embeded page displays (not currently in use)",defconfig.minimumRefreshInterval)
								input(type="number",name="minimumRefreshInterval",placeholder="(seconds)",value="#{config.minimumRefreshInterval}",min="1",max="1000000",disabled="disabled")#minimumRefreshInterval.form-control
							
			div(style="display:none")#settingsActions.panel-footer
				.pull-right
					&nbsp;
					a(href='/settings',onclick='location.reload();return false').btn.btn-default
						i.glyphicon.glyphicon-floppy-remove
						span  discard changes
					&nbsp;
					a(href="#save",onclick='saveChanges();return false').btn.btn-success
						i.glyphicon.glyphicon-floppy-save
						span  save settings
				.clearfix




	script(type='text/javascript').
		var saveChanges = function(){
			if($("#deckSettingsForm input").filter(function () {
				return $.trim($(this).val()).length <= 0
			}).length > 0) {
				alert("All fields must be filled wth valid values");
			}else{
				$("#deckSettingsForm").submit();
			}

		}
		

		var unlockInput = function(actionbtn){
			actionbtn.parent().prev("input").removeAttr("disabled").focus();
			actionbtn.tooltip('destroy').remove();	
			$("#settingsActions").slideDown();
		}

		var resetValue = function(target,defaultValue){
			var $target = $('input[id="'+target+'"]');
			$target.val(defaultValue);
			unlockInput($target.next().children().first());
		}


		$(function(){
			$('[data-toggle="tooltip"]').tooltip();

			$('[data-action="edit-input"]').click(function(){
				unlockInput($(this));
			});

		});




