html,body{
	height: 100%;
}

#pagewrap{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -80px;
	padding: 0 0 80px;
}

#pagewrap > .container {
	padding: 40px 15px 0;
}

#footer{
	height: 60px;
	margin-top: 20px;
	background-color: #F5F5F5;
}

#footer > .container{
	padding-left: 15px;
	padding-right: 15px;
}

.container .credit{
	margin: 20px 0;
}

.dkb-ellipsis{
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}

.dkb-pages-list{
	max-height: 600px;
	overflow: auto;
}

.dkb-page-disabled{

}

.dkb-badge-active{
	background-color: #5cb85c;
}
a.list-group-item.active>.badge.dkb-badge-active, .nav-pills>.active>a>.badge.dkb-badge-active{
	color: #5cb85c;
}

.dkb-pages-list .sortable-placeholder{
	border: 1px dotted #CCC;
	background: #ececec;
	display: block;
	height: 60px;
}

.dkb-pages-list .sortable-placeholder:first-child{
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.dkb-pages-list .sortable-placeholder:last-child{
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.dkb-pages-list .sortable-dragging{
	border-radius: 4px;
}

.dkb-section-separator{
	border-bottom: 2px solid #fafafa;
	border-radius: 4px;
	margin-top: 16px;
	margin-bottom: 24px;
}

.dkb-on-background{
	opacity: 0.2;
	transition: opacity .7s;
	-webkit-transition: opacity .7s;
}

:hover > .dkb-on-background.dkb-with-parent-hover, .dkb-on-background:hover{
	opacity: 1
}

.dkb-timeline-line,.dkb-timeline-point{
	border-style: solid;
	border-width: 2px;
	border-color: #EEE;
}

.dkb-timeline-line{
	position: absolute;
	top:0;
	z-index: 5;
	width: 1px;
	transition: all .5s;
	-webkit-transition: all .5s;
	border-radius: 5px;
}

.dkb-timeline-point{
	position:absolute;
	width: 12px;
	height: 12px;
	z-index: 10;
	margin: 0 0 0 -4px;
	border-radius: 50%;
	background-color: #EEE;
	transition: all .75s;
	-webkit-transition: all .75s;
}

.dkb-timeline-disabled{
	background-color: #FFF;
	border-width: 3px;
}

.dkb-timeline-ellapsed{
	border-color: #82ACFF;/*#6699FF;*/
	background-color: #82ACFF;
	
}

.dkb-timeline-point.dkb-timeline-ellapsed.dkb-timeline-disabled{
	background-color: #FFF;
}
